* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Noto Serif", serif;
}

/* Share class */
.container {
  max-width: 1140px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 114px;
}

.common-color {
  color: #e95a08;
}

/* nav section */
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-ul {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.nav-item {
  list-style: none;
  margin-left: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500px;
  color: rgb(37, 36, 50);
}

/* hero-section */

.hero {
  display: flex;
  align-items: flex-end;
}

.hero-title {
  font-size: 65px;
  font-weight: 700;
}

.hero-description {
  color: rgba(107, 114, 128, 1);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

/* Our plants section and lates deal section */
.our-plant-heading {
  justify-items: center;
}

.our-plant-title {
  font-size: 50px;
  font-weight: bold;
}

.our-plant-description {
  color: rgba(107, 114, 128, 1);
  font-size: 22px;
  font-weight: 400px;
  line-height: 27px;
  text-align: center;
}

/* hero-section */

.deal {
  display: flex;
  align-items: center;
  gap: 60px;
  width: px;
}

.deal-title {
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
}

.deal-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400px;
  line-height: 27px;
  gap: 10px;
  width: 540px;
  height: 108px;
}

/* card-aitems section */

.card-aitems {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px 20px;
  margin-top: 90px;
}

.card-image{
  width: 270px;
  height: 322px;

}
.Lily-Blossom {
  font-size: 22px;
  width: px;
  height: 16px;
  font-weight: 500;
  margin-top: 30px;
  color: #111111;
}

.card-rate {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  width: 81px;
  height: 16px;
  color: #111111;
}

.Card-button {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  border: none;
  margin-top: 30px;
}

/* Flower & Plants Lover */

.deal-section {
  position: relative;
}
.flower-title {
  font-size: 50px;
  font-weight: bold;
    width: 540px;
  height: 137px;
  margin: 0px;
}


.trusted-badge {
  display: flex;
  position: absolute;
  height: 286px;
  width: 286px;
  left: 335px;
  bottom: 450px;
}
.iamge {
  width: 540px;
  height: 597px;
}

/* Latest Deals iamge section */
.row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.row img {
  border-radius: 10px;
}
.shop-now {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 80px;
  height: 20px;
}
.vartical-college-1 {
  position: relative;
  /* opacity: 70%; */
}
.discount-price-1 {
  justify-content: space-around;
  position: absolute;
  left: 15%;
  top: 80px;
  color: #ffffff;
}

.vartical-college-2 {
  position: relative;
}

.discount-price-2 {
  justify-content: space-around;
  position: absolute;
  left: 15%;
  top: 80px;
  color: #ffffff;
}

.vartical-college-3 {
  position: relative;
}

.discount-price-3 {
  justify-content: space-around;
  position: absolute;
  left: 30%;
  top: 200px;
  color: #ffffff;
}

.discount {
  width: 498px;
  height: 50px;
}

.Joing-section {
  background-image: url(./assets/news-letter-bg.png);
  align-items: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
}

form .Join-heder {
  width: 586px;
  height: 68px;
  font-size: 50px;
  font-weight: 700px;
  margin-top: 200px;
  color: rgb(255, 255, 255);
  gap: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.join-elemnt {
  display: flex;
  align-items: center;
}
.email-input {
  width: 644px;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  gap: 0%;
  border: none;
}

.subscribe-button {
  width: 186px;
  height: 50px;
  background-color: #e95a08;
  font-size: 16px;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  border: none;
}

/* Footer-section */

.footer-section {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.display-flex {
  display: flex;
}

.footer-left {
  width: 359px;
  height: 178px;
  gap: 50px;
}

.footer-paragraph {
  color: rgba(107, 114, 128, 1);
}
.footer-middle {
  display: flex;
  align-items: center;
  gap: 120px;
}

.left .right li {
  padding: 15px 20 0 0;
  height: 248px;
  width: 100px;
}

.social-img {
  display: flex;
  width: 216px;
  height: 36px;
  padding: 10px;
}

.social-icon {
  display: flex;

  align-items: center;
  margin-left: 50x;
  gap: 50px;
  margin-bottom: 100px;
}

.footer-middle li {
  margin: 20px;
}

.footer-middle li a {
  color: rgba(107, 114, 128, 1);
}


@media screen and (max-width: 576px) {    
    .navber{
      display: flex;
      flex: 1;
      flex-wrap: wrap;
       max-width: 100%;
    }
    .hero{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      max-width: 100%;
    }
    .hero-title {
     width: 300px;
      height: 66px;
    }

    .hero-description {
      color: rgba(107, 114, 128, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
    }
    
    .hero-img{
      width: 393px;
      height: 245px;
      max-width: 100%;
    } 
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 50px;
    } 
 
  .card-image{
      width: 171px;
      height: 196px;
    } 
    
  .Lily-Blossom{
      font-size: 22px;
      height: 10px;
      font-weight: 500;
      margin-top: 30px;
      color: #111111;
    }
  .card-rate{
      font-size: 16px;
      font-weight: 700;
      margin-top: 20px;
      width: 59px;
      height: 12px;
      color: #111111;
    }

  .Card-button {
      width: 171px;
      height: 50px;
      background-color: #e95a08;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      border: none;
      margin-top: 30px;
    }

  .deal-section{
      display: flex;
      position: relative;
      max-width: 100%;
    }
    
  .deal{
      Display: flex;
      flex-wrap: wrap;
      max-width: 100%;
    }

  .deal-img{
      align-items: center;
      width: 358px;
      height: 396px;
      margin-left: 30px;
      max-width: 100%;
    }

  .deal-title {
      display: flex;
      flex: 1; 
      max-width: 100%;
    }    

  .trusted-badge {
      display: none;
    }

  .deal-title{
      width: 270px;
      font-size: 24px;
      font-weight: bold;
      margin-left: 30px;
      max-width: 100%;
    }
  .deal-description{
      font-size: 14px;
      width: 361px;
      margin-left: 30px;
      max-width: 100%;
    }
  .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      padding-left: 10px;
    max-width: 100%;
    }
  .vartical-college-3img{
      max-width: 100%;
      height: px;
    }
  .our-plant-heading {
      justify-items: center;
    }

  .our-plant-title {
      font-size: 24px;
      font-weight: bold;
    }

  .our-plant-description {
      color: rgba(107, 114, 128, 1);
      font-size: 14px;
        font-weight: 400px;
        line-height: 27px;
        text-align: center;
    }


  .Joing-section {
      background-image: url(./assets/news-letter-bg.png);
      align-items: center;
      background-repeat: no-repeat;
      max-width: 100%;
      width: 400px;
      height: 293px;
    }

  form {
      display:flex;
      flex-direction: column;
      align-items: center;
    }

  form .Join-heder {
      width: 235px;
      height: 27px;
      font-size: 20px;
      font-weight: 700px;
      margin-top: 200px;
      color: rgb(255, 255, 255);
      gap: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

  .join-elemnt {
      display: flex;
      align-items: center;
    }
  .email-input {
      width: 218px;
      height: 50px;
      font-size: 16px;
      padding: 10px;
      gap: 0%;
      border: none;
    }
  .subscribe-button {
      width: 130px;
      height: 50px;
      background-color: #e95a08;
      font-size: 16px;
      font-weight: 500px;
      color: rgb(255, 255, 255);
      border: none;
    }

  .footer-section {
      display: flex;
      align-items: flex-start;
      gap: 50px;
    }

  .display-flex {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
    }

  .footer-left {
      width: 359px;
      height: 173px;
      gap: 50px;
      margin-top: 90pX;
    }

  .footer-paragraph {
      width: 59px;
      height: 48px;
      color: rgba(107, 114, 128, 1);
    }
  .footer-middle {
      display: flex;
      align-items: center;
      height: 248px;
      width: 85px;
      gap: 32px;
    }

  .left .right li {
      padding: 15px 20 0 0;
      height: 248px;
      width: 100px;
    }

  .social-img {
      display: flex;
      width: 216px;
      height: 36px;
      padding: 10px;
    }

  .social-icon {
      display: flex;
      align-items: center;
      margin-left: 50x;
      gap: 50px;
      margin-bottom: 100px;
    }

  .footer-middle li {
      margin: 20px;
    }

  .footer-middle li a {
      color: rgba(107, 114, 128, 1);
    }
}